/*Include fonts police*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Deca:wght@200;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

/*-------- Body style --------------- */
body {
  background-color: #684bb1;
  color: white;
}

/*Body and global card*/
.card-container, body {
  margin: 0;
  padding: 0;
  color: white;
}
.card-container {
  width: 100%;
  padding: 0px;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Card center start -------------------------------------------------*/
.card-centered {
  width: 1440px;
  height: 800px;
  background: #1B1937;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/bg-desktop.svg');
}

.img-logo
{
   margin-bottom: 54px;
}
/*Card-left start ***************************************/
.card-left {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
}

i.fab {
  display: inline-block;
  border-radius: 90px;
  padding: 0.5em 0.6em;
  margin-left: 12px;
  border: 1px solid white;
  width: 14px;
}

.card-social-network 
{
   display: inline-block;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   align-self: flex-end;
   width: 200px;
}

.card-description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}

.btn-register, .btn-register:hover
{
  background-color: white;
  border: 2px solid white;
  border-radius:124px;
  width: 200px;
  height: 56px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  box-shadow: 2px 4px 9px 3px #00000042;
}

.btn-register
{
   background-color: white;
   color: #684BB1;
}
.btn-register:hover
{
   background-color: #e67fe6;
   color: white;
   border: 2px solid #e67fe6;
}

.card-title
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  width: 450px;
  margin-top: 43px;
}

/*Card-left end ****************************************/

/*Card-right start ***************************************/
.card-right {

  width: 950px;
  height: 446px;
  border-radius: 8px 8px 8px 8px;
  background-blend-mode: multiply;
  background-repeat: no-repeat,repeat;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

/*Card-right end ***************************************/

/*Card center end -------------------------------------------------*/

/*style for mobile device*/
@media(min-width: 200px) and (max-width: 992px) {

    .card-container, body {
      text-align: center;
      color: white;
    }
    .card-centered
    {
      width: 375px;
      height: 800px;
      display: flex;
      flex-direction: column;
    }
    .card-social-network
    {
       margin-top: 22px;
        display: flex;
        flex-direction: row;
        width: 200px;
    }
    .card-description, .card-title
    {
       margin: 0px;
       text-align: center;
       margin-top: 22px;
    }
    .card-left
    {
      width: 296px;
      height: 209px;
      display: none;
    }
    .card-right
    {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       width: 394px;
       height: 272px;
       border: 2px solid red;
       align-self: center;
    }


    

}